<div class="container">
    <div class="row">
      <div class="col-md-10">
        <p>Angular is typeScript-based open-source front-end web application platform led by the Angular Team at Google.
      Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript. Angular combines declarative templates, dependency 
      injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.
        </p>
        <div id="pic">
        <img  src="assets/angular.png" height="200px" width="200px" >
      </div>
      </div>
    </div>
  </div>