<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>
          <a class="active" href="#home">
            <i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>

        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li id="search1">
          <a href="#search">
              <i class="fa fa-search " aria-hidden="true" ></i> search
              
          </a>
        </li>

      </ul>
      </div>



     
  
  </div>
</div>